.sidebar {
    position: fixed;
    left: 0;
    background-color: #f9f9f966;
    padding: 40px;
    height: 100%;
    box-shadow: 0 0 2px #d9d9d9;
}

.main-container {
    padding: 40px;
    margin-left: auto;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
}
.sidebar .nav-link {
    display: block;
    color: black;
    margin: 5px 0;
    padding: 0;
}

.sidebar .nav-link:hover {
    color: rgb(39, 110, 243);
}