$aGradientBackground: linear-gradient(
  to right,
  rgba(208, 248, 113, 0.7),
  rgba(25, 162, 216, 0.7)
);

.product-list-page {
  padding: 20px;

  .product-details-card {
    background: #fff;
    // box-shadow: 1px -2px 4px #e4e4e4;
  box-shadow: 1px 2px 4px 1px #e4e4e4;

    margin-bottom: 12px;
    .card-title {
      display: flex;
      padding: 10px 20px;
      align-items: center;
      justify-content: space-between;
      .row {
        font-weight: 500;
        font-size: 18px;
        
      }
      .MuiButton-root {
        font-size: 10px;
        padding: 6px 10px;
        background: $aGradientBackground;
        color: black;
    }
    }
  }
}
